*{
    font-family: "Courier New";
}

h1, 
h3 {
    color: #b92b27;

}


#login {
    background-color: blueviolet;
}

#signup {
    background-color: #b92b27;
    color: white;
}


.upvote {
    background-color: green;
    color: aliceblue;
}


/* descendent selector */

/* p a {
    color: purple;
    background-color: yellow;
} */

.post a {
    color: purple;
    background-color: yellow;
}


/* nav ul li a {
    color: hotpink;
} */


nav a {
    color: hotpink;
}