h1 {
    font-weight: 400;
    text-decoration: wavy red underline;
    letter-spacing: 50px;

}


h2 {
    font-weight: 800;
    text-decoration: dotted blue overline;
    letter-spacing: 10px;
}


h3 {
    text-align: start;
    text-decoration: double yellow line-through;
    font-size: 40px;
}

p {
    text-align: justify;
    font-weight: normal;
    line-height: 2.5;
    font-size: 20px;
}


a {
    text-decoration: none;
}