*{
    font-family: "Courier New";
}

h1, 
h3 {
    color: #b92b27;

}


#login {
    background-color: blueviolet;
}

#signup {
    background-color: #b92b27;
    color: white;
}


.upvote {
    background-color: green;
    color: aliceblue;
}


/* descendent selector */

/* p a {
    color: purple;
    background-color: yellow;
} */

.post a {
    color: purple;
    background-color: yellow;
}


nav a {
    color: hotpink;
}


p + h3 {
    text-decoration: underline;
}


.upvote + button {
    background-color: cornflowerblue;
    color: darkblue;

}


div > input {
    background-color: darksalmon;
}


input[type="text"] {
    color: green;
}

input[type="password"] {
    color: red;
}

input[type] {
    background-color: ghostwhite;
}


/* Pseudo Class (HOVER) */
button:hover {
    background-color: black;
    color: white;
}

h3:hover {
    text-decoration: overline;
}


/* Pseudo Class (ACTIVE) */
button:active {
    background-color: hotpink;
    color: black;
}

p:active {
    font-weight: bold;
    color: green;
}


/* Pseudo Class (CHECKED) */
input[type="radio"]:checked + label {
    color: red;
    font-weight: bold;
}


/* Pseudo Class (NTH-OF-TYPE()) */
div:nth-of-type(2n) {
    background-color: blanchedalmond;
}