h1 {
    text-align: center;
    border: solid;
    
}

h2 {
    text-align: right;
}

h3 {
    text-align: start;
}

p {
    text-align: end;
    text-align: justify;
}


/* Note:-left means start and right means end */
