#mainTopic {
    color: blue;
}

* {
    text-align: center;
}

h1,
h3,
h5 {
    font-family: Georgia;
}

div button {
    color: azure;
    background-color: purple;
}

.content {
    background-color: cornflowerblue;
    color: white;
}