*{
    font-family: "Courier New";
}

h1, 
h3 {
    color: #b92b27;

}


#login {
    background-color: blueviolet;
}

#signup {
    background-color: #b92b27;
    color: white;
}


.upvote {
    background-color: green;
    color: aliceblue;
}


/* #myId p {
    color: green;
} */


div[id="myId"] p {
    color: green;

}